<include file="Common/header" />
<!-- 顶部 -->     
<div id="middle">
    <include file="Common/menu" />
    <div class="right"  id="mainFrame">
		<div class="right_cont">
			<ul class="breadcrumb">当前位置：
				<a href="#">首页</a> <span class="divider">/</span>
				<a href="#">业务处理</a> <span class="divider">/</span>
				电脑开票
			</ul>
			<div class="title_right"><strong>分理处发货排行榜</strong></div>  
			<div style="width: 95%; margin:auto">
				<table class="table table-bordered">
					<tr>
						<td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">款到开始时间：</td>
						<td width="23%"><input type="text"  class="laydate-icon span1-1" id="Calendar" value="2015-08-25"  /></td>
						<td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">款到结束时间：</td>
						<td width="23%"><input type="text"  class="laydate-icon  span1-1" id="Calendar2" value="2015-08-25"  /></td>
						<td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">选择排行内容：</td>
						<td><input type="text"   class=" span1-1" /></td>
					</tr>
				</table>
			
				<table  class="margin-bottom-20 table  no-border" >
					<tr>
						<td class="text-center"><input type="button" value="查询" class="btn btn-info " style="width:80px;" /></td>
					</tr>
				</table>
				
				<table class="table table-bordered table-hover table-striped">
					<tbody>
						<tr align="center">
							<td><strong>编号</strong></td>
							<td><strong>分理处</strong></td>
							<td><strong>运费合计</strong></td>
							<td><strong>代收款合计</strong></td>
							<td><strong>操作</strong></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
						<tr align="center">
							<td>14</td>
							<td>孟庄分理处</td>
							<td>30</td>
							<td>1320</td>
							<td><a id="DataGrid1_ctl16_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl16$LinkButton1','')">详细</a></td>
						</tr>
					</tbody>
				</table>
				<table  class="margin-bottom-20 table  no-border" >
					<tr>
						<td class="text-center"><input type="button" value="打印" class="btn btn-info    margin-right-20" style="width:80px;"  /><input type="button" value="数据导出" class="btn btn-info  "  style="width:80px;" /></td>
					</tr>
				</table>
			</div>
		</div>     
	</div>
</div>
<include file="Common/footer" />
