<include file="Common/header" />
<!-- 顶部 -->     
<div id="middle">
    <include file="Common/menu" />
    <div class="right"  id="mainFrame">
		<div class="right_cont">
			<ul class="breadcrumb">当前位置：
				<a href="javascript:void(0);">首页</a> <span class="divider">/</span>
				<a href="javascript:void(0);">用户管理</a> <span class="divider">/</span>
				用户列表
			</ul>
			<div class="title_right"><strong>用户列表</strong></div>  
			<div style="width: 900px; margin:auto">
				<div style="width: 900px; margin:auto">
					<div id="ajaxDiv">
						<include file="User/lists_page" />
					</div>
					
				</div>
			</div>
		</div>     
	</div>
</div>
<include file="Common/footer" />
